* {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  margin: 0;
}

#navbar a:visited, a:link, a:active {
  color: white;
  background-color: black;
  text-decoration: none;
}

#navbar a:hover {
  color: #f6c81d;
  text-decoration: underline;
}

#worknav a:visited, a:link, a:active {
  color: black;
  text-decoration: none;
}

#worknav a:hover {
  color: #f6c81d;
  text-decoration: underline;
}